body {
  background-color: #fbfbfb;  /* very light gray */
  color: #4c3d00;             /* almost black */
}

header .logo {
  display: block;
}

a, a:hover, a:active, a:visited,
h1, h1 a,
h1 a:hover {
  /* DocuSign blue */
  color: #1c4c9f;
}

article a, article a:hover, article a:active, article a:visited {
  color: #2e36d1;
}

header h2 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1;
  font-family: 'Inconsolata', monospace, sans-serif;
  color: #999;
}

.about-author .author-name,
.about-author .author-name a {
  color: #1c4c9f;
  font-family: 'Inconsolata', monospace, sans-serif;
}

.author-pic {
  overflow: hidden;
}
.author-pic img {
  max-width: 100%;
  border: solid 1px #ddd;
}

.small-article .author-pic {
  width: 30%;
}

article p,
article ul,
article ol {
  /* JK's magic text width */
  /* max-width: 33em; */
  /* DB's magic text width needed for images to not be too small :( */
  max-width: 45em;

}

header#top-header h1 {
  text-indent: -9999em;
  background: url('/assets/img/DocuSignDevLogo.png') no-repeat 0 0;
  margin-bottom: 0;
  min-width: 300px;
  min-height: 75px;
}
header#top-header h1 a {
  width: 300px;
  height: 75px;
  display: block;
}
header#top-header h2 {
  margin-top: 0;
}


#left-col section.about-author,
#left-col section.tags {
  border-top: #999 1px dotted;
  margin-top: 1.5em;
  padding-top: 1.5em;
}

#left-col nav {
  margin-top: 20px;
}
#left-col nav * {
  font-family: 'Inconsolata', monospace, sans-serif;
}
#left-col nav ul, #left-col nav ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#left-col nav ul li,
#left-col .about-author .author-name {
  font-size: 20px;
}

#left-col section.about-author * {
  font-family: 'Inconsolata', monospace, sans-serif;
  line-height: 1.1em;
}
#left-col section.about-author .author-blurb {
  margin-bottom: .5em;
}
#left-col section.about-author .author-twitter,
#left-col section.about-author .author-github {
  margin-bottom: .2em;
}
#left-col section.about-author .author-pic {
  margin: 0.5em 0 1em 0;
}

#left-col section.tags ul,
#left-col section.tags ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#left-col section.tags ul li {
  margin-bottom: 2px;
  font-size: 1.2em;
}
#left-col section.tags ul li:before {
  content: '# ';
  color: #999;
  /* (overridden for small screens below) */
}
#left-col section.tags * {
  font-family: 'Inconsolata', monospace, sans-serif;
}

footer {
  /* some bottom padding */
  min-height: 3em;
}

footer nav ul {
  display: block;
}
footer nav ul,
footer nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer nav ul li {
  display: inline-block;
  margin: .5em 1em;
}

pre {
  background-color: #fff;
}
blockquote p {
  font-size: 1em;
}
blockquote {
  border-color: #ccc;
}

article ul,
article ol {
  /*padding-left: 0;*/
  list-style-position: outside;
}
article ul {
  list-style-type: square;
}

h1.page-tag,
h1.page-author {
  background-color: #1c4c9f;
  color: #fbfbfb;
  padding: .3em;
  margin-left: -.3em;
  font-size: 1.3em;
  letter-spacing: .2pt;
}

section.small-article .left {
  border-top: dotted 1px #999;
  padding-top: 1em;
  margin-top: 1em;
}
section.small-article:first-child .left {
  border: none;
  padding-top: 0;
  margin-top: 10px;
}
section.small-article h2 {
  margin-top: 0;
}

section.small-article .filler {
  margin-top: 40px;
}

article img {
  /* copying bootstrap's .img-responsive */
  vertical-align: middle;
  display: block;
  max-width: 100%;  /* this is too narrow b/c of <p> wrapper! */
  /*max-width: 700px;*/
  height: auto;
}

/* assuming <div>'s are put into markdown around images to evade <p> max-width.
   in that case, want space below. */
article > .content > div > img {
  margin-bottom: .5em;
}

.article-meta {
  color: #999;
  margin-top: 1em;
}
.article-meta + h1 {
  margin-top: .1em;
}


.author-page section.about-author-top {
  border-bottom: #999 1px dotted;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
.author-page section.about-author-top .author-name {
  font-family: inherit;
  color: inherit;
  font-weight: bold;
}
.author-page section.about-author-top .author-pic {
}
.author-page section.about-author-top > div {
  margin-bottom: .1em;
}


.all-authors-page article.author {
  border-top: dotted 1px #999;
  padding-top: 1em;
  margin-top: 1em;
}
.all-authors-page article.author:first-child {
  border-top: none;
  padding-top: 0;
}

.all-authors-page article.author .right > div {
  margin-bottom: 2px;
}
.all-authors-page article.author .right .author-name {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.all-authors-page article.author .right .more {
  font-size: .9em;
  margin-top: 10px;
}

ul.pager li > a {
  margin: 0 .5em;
}
article + section.article-links {
  margin-top: 3em;
}

.about-author.visible-xs {
  margin-bottom: 1em;
}



/** overrides for phone screens **/

/* .col-xs-* was causing overlapping text, doing this instead */
@media (max-width: 768px) {
  #left-col nav {
    margin-top: 0;
  }
  #left-col nav ul li {
    font-size: .9em;
    width: auto;
    float: left;
    margin-right: 1em;
  }


  #left-col section.tags ul li {
    display: inline;
    margin-right: 1em;
    font-size: .9em;
  }
  #left-col section.tags ul li:before {
    content: '#'; /*(no space)*/
  }
}
.fb-share-button, .twitter-share-button {
  float: left;
}
.fb-share-button {
  margin-right: 10px;
}

