html,
body {
  height: 100%;
  margin: 0;
}

container.c {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid #cbd5e0;
  height: 100%;
  width: 100%;
}

container.ctop {
  display: flex;
  height: 80%; /* 35rem; */
  padding: 1em;
  overflow-y: scroll;
}

container.cbottom {
  display: flex;
  flex: 1;
  padding: 1em;
  overflow-y: scroll;
}

container.fixh {
  width: 100%;
}

container.col2parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 50%;
}

.child2 {
  width: 50%;
}


div.resizer {
  width: 100%;
  cursor: row-resize;
  height: 3px;
  background-color: #cbd5e0;
}

pre {
  text-align: left;
  background-color: aliceblue;
  font-size: x-small;
  margin: 15px;
}

.panel {
  margin: 50px 75px;
}

.hide {
  display: none;
}
.mlb {margin-left:3em;}
.display-inline {display: inline}
.f {font-variant: small-caps; color:darkorange;}

#lname {font-weight: 600;}
#lemail, #laccount, #laccountname {font-size: 75%;}
#saccount a {
    font-size: 85%;
    color: blue;
    cursor: default;
}
.accountRow {
    border-bottom-style: solid;
    border-bottom-color: #f2f1f1;
    height: 3em;
    position: relative
}
.accountRowLast {
        border-bottom-style: none;
}
.accountRow:hover {
    background-color: #f2f1f1;
}
.accountRow p {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 1em;
    cursor: default;
}
.accountModal-body {padding: 0;}
#action {width: 10em;}

form {margin-top:2em;}
.mb-3 select, .mb-3 select, .mb-5 select, .mb-5 select {display: inline; width: 14em; margin-left: 2em;}
.formBackgroundSender {
  background: url('../assets/embedded_sender_1050x2585.png') no-repeat 0 0;
  width: 1050px;
  height: 2585px;
  border: 2px solid mediumpurple;
}
label {margin-bottom: 0px;}
input {margin-left: 5px;}
.formBackground {
  position: relative;
  width:fit-content;
  padding: 3px 5px 2px 2px;
  background-color: fuchsia;
}

/* From http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: auto;
  width: 150px;
  height: 140px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: blueviolet;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
